# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Env
.env
.env*.local

# Testing
coverage/
playwright-report/
test-results/

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo/
.vercel
*.tsbuildinfo
next-env.d.ts

# Playwright
apps/banking/test-results/
apps/banking/playwright-report/
